body {
    background-color: rgb(174, 107, 107);
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(239, 238, 232);
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

text {
    color: rgb(137, 78, 78);
    margin-left: 160px;
    margin-right: 130px;
    font-size: 50px;
    text-align: center;
}

.title1 {
    color: rgb(239, 238, 232);
    margin-left: 20px;

}

div {
    margin-left: 20px;
    margin-right: 500px;
    color: rgb(239, 238, 232)
}

.title {
    color: rgb(44, 87, 44);
}

.button {
    background-color: rgb(239, 238, 232);
    color: rgb(137, 78, 78);
    padding: 10px 20px;
    border-radius: 5px;
    border-color: rgb(44, 87, 44);
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(44, 87, 44);
}

footer {
    background-color: rgb(239, 238, 232);
    display: flex;
    align-items: center;
    padding: 10px 20px;

}

.text2 {
    color: rgb(137, 78, 78);
    font-size: 30px;
    text-align: center;
    margin: 0px;
}