header {
    background-color: rgb(239, 238, 232);
    padding: 5px 10px;
    display: flex;
    align-items: center;


}

.logo {
    align-items: center;
}

body {
    background-color: rgb(174, 107, 107);
    margin: 0px;
    padding: 0px;
}