header {
    background-color: rgb(239, 238, 232);
    padding: 5px 10px;
    align-items: center;
    display: flex;
    border-bottom: 6px solid rgb(44, 87, 44);
    border-top: 6px solid rgb(44, 87, 44);
    justify-content: center;


}

.logo {
    width: 200px;
    height: 200px;
}

body {
    background-color: rgb(174, 107, 107);
    margin: 0px;
    padding: 0px;

}

#imgchef {
    margin: 70px;
    background: rgb(239, 238, 232);
    border-radius: 10px;
    border: 7px outset rgb(25, 100, 19);
    height: 440px;
    width: 700px;
    box-sizing: content-box;

}

ul {
    list-style: none;
    display: block;
}

.text {
    color: rgb(25, 100, 19);
    background: rgb(239, 238, 232);
    width: fit-content;
    padding-right: 5px;
    padding-left: 5px;
    border: 5px solid rgb(25, 100, 19);
    font-weight: bold;
    font-size: 25px;
    font-family: Garamond, serif;
    border-radius: 10px;


}

.text:hover {
    background-color: rgb(164, 190, 163);
}

.text:active {
    background-color: rgb(255, 255, 255);
}

.pic {
    margin: 20px;
    background: rgb(239, 238, 232);

    border-radius: 10px;
    border: 7px outset rgb(25, 100, 19);
}